a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}
body {
  line-height: 1
}
ol, ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none
}
footer, header, main {
  float: left;
  width: 100%
}
*, :after, :before {
  box-sizing: border-box
}
.footerWrap, .headerWrap, .mainWrap {
  position: relative
}
a, b, blockquote, button, div, em, h1, h2, h3, h4, h5, h6, i, input, li, p, span, strong, ul {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
img {
  max-width: 100%;
  height: auto
}
em, i {
  font-style: italic
}
b, strong {
  font-weight: 700
}
.container, .row {
  *zoom: 1
}
.container:after, .container:before, .row:after, .row:before {
  content: " ";
  display: table
}
.container:after, .row:after {
  clear: both
}
.footerWrap, .headerWrap, .mainWrap {
  float: left;
  width: 100%;
  clear: both
}
.column-1 {
  width: 8.33333%
}
.column-2 {
  width: 16.66667%
}
.column-3 {
  width: 25%
}
.column-4 {
  width: 33.33333%
}
.column-5 {
  width: 41.66667%
}
.column-6 {
  width: 50%
}
.column-7 {
  width: 58.33333%
}
.column-8 {
  width: 66.66667%
}
.column-9 {
  width: 75%
}
.column-10 {
  width: 83.33333%
}
.column-11 {
  width: 91.66667%
}
.column-12 {
  width: 100%
}
.wow {
  visibility: hidden
}
[class*=column-] {
  float: left;
  min-height: 1px
}
.has_gutter [class*=column-] {
  padding: 0 15px
}
.row {
  margin-left: -15px;
  margin-right: -15px
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative
}
@media only screen and (min-width:768px) and (max-width:990px) {
  .container {
    max-width: 732px
  }
}
@media only screen and (min-width:991px) and (max-width:1199px) {
  .container {
    max-width: 960px
  }
}
@media only screen and (min-width:1200px) {
  .container {
    max-width: 960px
  }
}
@media only screen and (max-width:767px) {
  .container {
    padding: 0 15px
  }
}
.show-mob, .show-tab, .show-tab-big {
  display: none
}
.hidden-mob {
  display: block
}
.hidden {
  display: none!important
}
@media only screen and (max-width:767px) {
  .column-mob-1 {
    width: 8.33333%
  }
  .column-mob-2 {
    width: 16.66667%
  }
  .column-mob-3 {
    width: 25%
  }
  .column-mob-4 {
    width: 33.33333%
  }
  .column-mob-5 {
    width: 41.66667%
  }
  .column-mob-6 {
    width: 50%
  }
  .column-mob-7 {
    width: 58.33333%
  }
  .column-mob-8 {
    width: 66.66667%
  }
  .column-mob-9 {
    width: 75%
  }
  .column-mob-10 {
    width: 83.33333%
  }
  .column-mob-11 {
    width: 91.66667%
  }
  .column-mob-12 {
    width: 100%
  }
  .show-mob {
    display: block
  }
  .hidden-mob {
    display: none
  }
}
@media only screen and (min-width:768px) and (max-width:990px) {
  .column-tab-1 {
    width: 8.33333%
  }
  .column-tab-2 {
    width: 16.66667%
  }
  .column-tab-3 {
    width: 25%
  }
  .column-tab-4 {
    width: 33.33333%
  }
  .column-tab-5 {
    width: 41.66667%
  }
  .column-tab-6 {
    width: 50%
  }
  .column-tab-7 {
    width: 58.33333%
  }
  .column-tab-8 {
    width: 66.66667%
  }
  .column-tab-9 {
    width: 75%
  }
  .column-tab-10 {
    width: 83.33333%
  }
  .column-tab-11 {
    width: 91.66667%
  }
  .column-tab-12 {
    width: 100%
  }
  .show-tablet {
    display: block
  }
  .hidden-tablet {
    display: none
  }
}
@media only screen and (min-width:991px) and (max-width:1199px) {
  .column-tab-big-1 {
    width: 8.33333%
  }
  .column-tab-big-2 {
    width: 16.66667%
  }
  .column-tab-big-3 {
    width: 25%
  }
  .column-tab-big-4 {
    width: 33.33333%
  }
  .column-tab-big-5 {
    width: 41.66667%
  }
  .column-tab-big-6 {
    width: 50%
  }
  .column-tab-big-7 {
    width: 58.33333%
  }
  .column-tab-big-8 {
    width: 66.66667%
  }
  .column-tab-big-9 {
    width: 75%
  }
  .column-tab-big-10 {
    width: 83.33333%
  }
  .column-tab-big-11 {
    width: 91.66667%
  }
  .column-tab-big-12 {
    width: 100%
  }
  .show-tablet-big {
    display: block
  }
  .hidden-tablet-big {
    display: none
  }
}
.is-full-width {
  width: 100vw!important;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  max-width: none
}
.no_padding {
  padding: 0
}
.pull-right {
  float: right!important
}
.pull-left {
  float: left!important
}
.flexbox.flexboxlegacy body, .flexbox body, .flexboxlegacy body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.flexbox.flexboxlegacy main, .flexboxlegacy main, .flexbox main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.no-flexboxlegacy body {
  display: block!important
}
body {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  position: relative;
  overflow-x: hidden
}
input, option, select, textarea {
  font-family: sans-serif;
  opacity: 1
}
input::-webkit-input-placeholder, option::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: sans-serif;
  opacity: 1;
  font-size: 14px;
  color: #000
}
input:-moz-placeholder, input::-moz-placeholder, option:-moz-placeholder, option::-moz-placeholder, select:-moz-placeholder, select::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder {
  font-family: sans-serif;
  opacity: 1;
  font-size: 14px;
  color: #000
}
input:-ms-input-placeholder, option:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: sans-serif;
  opacity: 1;
  font-size: 14px;
  color: #000
}
mark {
  background: #ff0;
  color: #000
}
small {
  font-size: 80%
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}
pre {
  background: #eee;
  font-family: Courier\ 10 Pitch, Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em
}
code, kbd, pre, tt, var {
  font-size: 15px;
  font-size: .9375rem
}
code, kbd, tt, var {
  font-family: Monaco, Consolas, Andale Mono, DejaVu Sans Mono, monospace
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help
}
ins, mark {
  background: #fff9c0;
  text-decoration: none
}
big {
  font-size: 125%
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  clip: auto!important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 1
}
.gallery {
  margin-bottom: 1.5em
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%
}
.gallery-columns-2 .gallery-item {
  max-width: 50%
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%
}
.gallery-columns-4 .gallery-item {
  max-width: 25%
}
.gallery-columns-5 .gallery-item {
  max-width: 20%
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%
}
.gallery-caption {
  display: block
}
#main[tabindex="-1"]:focus {
  outline: 0
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto
}
